body {
    background-color: #1d1919bd;
    color: white;
}

#grid_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#range {
    flex-direction: column;
    margin-top: -10px;
}

#three_btns {
    gap: 30px;
}

#range,
#three_btns,
#random_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grids {
    width: 400px;
    height: 400px;
    display: grid;
    background-color: whitesmoke;
    border-radius: 12px;
}

#rainbow {
    margin-bottom: 11px;
    padding: 12px;
    border-radius: 14px;
    background-color: wheat;
}

button {
    padding: 10px;
    border-radius: 12px;
    width: 164px;
    color: white;
    color: black;
    font-weight: bold;
    font-weight: bold;
    border-width: 3px;
}

button:hover {
    background-color: rgb(223, 192, 192);
}

#blue {
    background-color: rgb(20, 20, 228);
}

#red {
    background-color: rgb(221, 19, 19);
}

#blue:hover {
    background-color: rgb(83, 83, 119);
}

p {
    font-weight: bold;
}

#red:hover {
    background-color: rgb(177, 80, 80);
}

@media (max-width:600px) {
    button {
        width: 105px;
    }
    #grids {
        width: 350px;
        height: 350px;
    }
    #rainbow {
        padding: 5px;
    }
    #three_btns {
        gap: 10px;
    }
}