body {
    background-color: #0000006b;
    color: white;
}

#grid_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#range {
    flex-direction: column;
    margin-top: -10px;
}

#three_btns {
    gap: 30px;
}

#range,
#three_btns,
#random_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grids {
    width: 400px;
    height: 300px;
    display: grid;
    background-color: whitesmoke;
    border-radius: 12px;
}

#rainbow {
    margin-bottom: 11px;
    padding: 12px;
    border-radius: 14px;
    background-color: wheat;
}

button {
    padding: 10px;
    border-radius: 12px;
    width: 164px;
    color: white;
    color: black;
    font-weight: bold;
    font-weight: bold;
    border-width: 3px;
}

button:hover {
    background-color: white;
}

#blue {
    background-color: rgb(121, 121, 156);
}

#red {
    background-color: rgb(141, 105, 105);
}

#blue:hover {
    background-color: rgb(39, 39, 204);
}

#red:hover {
    background-color: rgb(231, 21, 21);
}

@media (max-width:600px) {
    button {
        width: 105px;
    }
    #grids {
        width: 330px;
        height: 270px;
    }
    #rainbow {
        padding: 5px;
    }
    #three_btns {
        gap: 10px;
    }
}